In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
df = pd.read_csv('../datasets/new_train.csv')
kaggle_sub = pd.read_csv('../datasets/test.csv')

In [3]:
df.head(1)

,overall_qual,year_built,year_remod_add,1st_flr_sf,gr_liv_area,full_bath,totrms_abvgrd,saleprice
0,6,1976,2005,725,1479,2,6,130500

Modeling

In [4]:
features = ['overall_qual', 'year_built', 'year_remod_add',
            '1st_flr_sf', 'gr_liv_area', 'full_bath', 'totrms_abvgrd']
X = df[features]
y = df['saleprice']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [6]:
# instantiate and fit
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.7635573321322969, 0.8179057802581281)

In [8]:
kaggle_sub.columns = [col.replace(' ', '_').lower() for col in kaggle_sub.columns]
kaggle_sub.columns = [col.replace('/', '_').lower() for col in kaggle_sub.columns]

In [9]:
preds = lr.predict(kaggle_sub[features])

In [10]:
kaggle_sub['saleprice'] = preds

In [14]:
kaggle_sub.head(2)

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,154923.030596
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2006,WD,205514.256829

In [11]:
kaggle = kaggle_sub[['id', 'saleprice']]

In [13]:
kaggle.to_csv('../datasets/kaggle_mlr.csv', index=False) # save to cvs and remove saving index column